.accordion.fixed-bottom
    .card
        .card-header.bg-primary.text-white
            h5.mb-0
                button(
                    class=''
                    type='button'
                    data-toggle="collapse"
                    data-target="#chatwindow"
                ) Chat
        #chatwindow.collapse.show
            .card-body
                #chat
                p Lorem Ipsum
            .card-footer
                form(id="chatForm", autocomplete="off")
                    .input-group
                        input(
                            id="chatMessage"
                            class="form-control"
                            type="text"
                            name="message"
                            placeholder="Ask me anything...")
                        .input-group-append
                            button(type="submit" class="btn btn-primary") Send
