@{
    Layout = "_layout";
}

<main>
    @Html.Partial("../partials/nav")
    @Html.Partial("../partials/home")
    @Html.Partial("../partials/experience")
    @Html.Partial("../partials/education")
    @Html.Partial("../partials/certificate")
</main>